/* reset */
html{font:62.5% 微软雅黑,arial,宋体,sans-serif}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}   ol,li,ul{margin:0; padding:0;}
body{background-color: rgba(250,250,250,1);}
.container{max-width:1200px;}
li{list-style: none;display:inline-block;}
a{text-decoration:none;color:#959a9b;}
a:hover{color:#000;}
.none{display: none;}

/* nav */
.nav{display: flex;display: -webkit-flex;justify-content:space-between;align-items: center;}
/* nav logo */
.nav .logo{position: relative;background-image:url(../images/header-logo.png);background-size:80%;background-position: center;background-repeat:no-repeat;}
.nav .logo h1{position: absolute;left:-9999px;}
/* nav navbar */
.nav .navbar ul{display: -webkit-flex;display: flex;width:24rem;justify-content: space-between;}
.nav .navbar ul li a{font-size: 1.6rem;}
/* nav ctrlbar */
.nav .ctrlbar{width:10rem;display: -webkit-flex;display:flex;justify-content: space-between;}
.nav .ctrlbar .translation,.nav .ctrlbar .news,.nav .ctrlbar .personal_center{cursor: pointer;}
.nav .ctrlbar .news>i,.nav .personal_center>i{font-size:30px;line-height:30px;color: rgba(9, 66, 112, 1);}
.nav .ctrlbar  i:hover, .nav .ctrlbar .translation:hover{color:rgba(93, 197, 203,1);border-color: rgba(93, 197, 203, 1)}
.nav .ctrlbar .translation{width: 1.8rem;height:1.8rem;border-radius:1.8rem;border:2px solid rgba(9, 66, 112, 1);text-align:center;line-height:1.8rem;font-size:1.5rem;}
.nav .ctrlbar .news{width:2rem;height: 2rem;position: relative;}
.nav .ctrlbar .news .tip{display: block;position: absolute;top:-8px;right:-8px;width:14px;height:14px;border-radius:14px;text-align:center;line-height:14px;color:#fff;;background:red;}
.nav .ctrlbar .personal_center{position:relative;width: 2.3rem;height:2.3rem;border-radius:2.3rem;background-image:url(../images/avatar.png);background-position: center;}
.nav .ctrlbar .personal_center .drop_down_menu{display:none;}
.nav .ctrlbar .personal_center:hover .drop_down_menu{display: block;}
/* 屏幕尺寸小于415px */
@media screen and (max-width:415px){
    .nav{display: none;}
}
/* 屏幕尺寸大于415px小于770px */
@media screen and (min-width:415px) and (max-width:768px){
    /* nav-style */
    .nav{display: none;}
}
/* 屏幕尺寸大于770px小于1025px */
@media screen and (min-width:768px) and (max-width:1025px){
    /* nav-style */
    .nav{height: 6rem;padding: 0 3rem;}
    .nav .logo{width:5rem;height:6rem;background-size: 75%;}
    .nav .ctrlbar .personal_center .drop_down_menu ul{box-shadow: 0 0 1px 1px #ccc;position: absolute;top:3.3rem;left:-4rem;display: -webkit-flex;display: flex;flex-wrap: wrap;box-sizing: border-box;width: 8rem;height:9rem;padding:10px 0 0 1rem;background:#fff;border-radius:5px;}
    .nav .ctrlbar .personal_center .drop_down_menu ul::before{position: absolute;right: 1.9rem;top: -.8rem;content: '';border-left: .8rem solid transparent;border-right: .8rem solid transparent;border-bottom: .8rem solid #fff;z-index: 0;}
    .nav .ctrlbar .personal_center .drop_down_menu ul::after{position: absolute;right: 1.9rem;top: -.91rem;content: '';border-left: .81rem solid transparent;border-right: .81rem solid transparent;border-bottom: .81rem solid #ccc;z-index: -1;}

}
/* 屏幕尺寸大于1025px */
@media screen and (min-width:1025px){
    .nav{height: 7rem;padding: 0 6rem;}
    .nav .logo{width:6rem;height:7rem;background-size: 75%;}
    .nav .ctrlbar .personal_center .drop_down_menu ul{box-shadow: 0 0 1px 1px #ccc;position: absolute;top:3.3rem;left:-4rem;display: -webkit-flex;display: flex;flex-wrap: wrap;box-sizing: border-box;width: 8rem;height:9rem;padding:10px 0 0 1rem;background:#fff;border-radius:5px;}
    .nav .ctrlbar .personal_center .drop_down_menu ul::before{position: absolute;right: 1.9rem;top: -.8rem;content: '';border-left: .8rem solid transparent;border-right: .8rem solid transparent;border-bottom: .8rem solid #fff;z-index: 0;}
    .nav .ctrlbar .personal_center .drop_down_menu ul::after{position: absolute;right: 1.9rem;top: -.91rem;content: '';border-left: .81rem solid transparent;border-right: .81rem solid transparent;border-bottom: .81rem solid #ccc;z-index: -1;}
}

