/*问卷标题样式*/
.edit-question-title{
  background: #fff;
  padding: 1.5rem 0;
  margin-top: 20px; 
  text-align: center;
}	
.edit-question-title h2,
.preview-question-title h2{
  margin-bottom: 0;
}
/*表单样式*/
.am-form ol{
	list-style-position: inside; 
}
.am-form ol li{
	background: #fff;
	margin-top: 20px;
	padding: 2rem 20px  1rem;
}
.am-form ol li div label{
	display: inline-block;
	margin-bottom: 1rem;
}
.am-form .problem{
	background: #fff;
    margin-left: -31px;
    background: #fff;
}
.am-form .problem li{
	overflow: hidden;
}
/*选项控制样式*/
.opt-ctrl{
	display: none;
	float: right;
}
.opt-ctrl .item{
	display: inline-block;
	font-size: 2rem;
}
.am-checkbox:hover > .opt-ctrl,
.am-radio:hover > .opt-ctrl{
	display: block;
}
/*问题控制样式*/
.problem-ctrl{
	display: block;
	width: 100px;
	height: 25px;
}
.problem-ctrl .item{
	width: 2rem;
	display: inline-block;
	color: #09426f;
}
.problem-ctrl .item i{
	font-size: 2rem;
}
.problem-ctrl .item:hover{
	color: #24b1bb;
}
.rotate::before{
	transform: rotate(180deg);
	display: inline-block;
}
@media screen and (max-width:768px) {
		.am-form .problem{
		background: #fff;
	    margin-left: -31px;
	    background: #fff;
	}
}
@media screen and (min-width: 1024px) {
      .content{
		width: 980px;
	}
}