/* zonglu 加的样式*/
/*拖拽时候占位符样式*/
.question-highlight{
	border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
    margin-top: 20px;
}
/*拖拽时候，更改鼠标样式*/
div.question-ctrl span.handle{
	cursor: move;
}
/*第一个选项，不显示删除按钮和上移按钮*/
div.choices div.choice:first-child div.opt-ctrl span.delete,div.choices div.choice:first-child div.opt-ctrl span.up{
	/*color: red;*/
	display: none;
}
/*第一个选项，不显示下移按钮*/
div.choices div.choice:last-child div.opt-ctrl span.down{
	/*color: red;*/
	display: none;
}

.footer{
	width: 80%;
}

/*问卷标题样式*/
.edit-questionnaire-title{
  background: #fff;
  padding: 1.5rem 0;
  margin-top: 20px; 
  text-align: center;
}	
.edit-questionnaire-title h2,
.preview-questionnaire-title h2{
  margin-bottom: 0;
}

.am-form .question{
	background: #fff;
	margin-top: 20px;
    padding: 2rem 2rem 3rem;
}

.am-form .question label{
	outline: none;
}
.am-form .question label:focus{
	background: #ccc;
}

.question-ctrl{
	    display: block;
    width: 100px;
    height: 25px;
        float: right;
}
.question-ctrl .item{
    width: 2rem;
    display: inline-block;
    color: #09426f;
}

.question-ctrl .item i {
    font-size: 2rem;
}



/*问卷标题样式*/
.edit-question-title{
  background: #fff;
  padding: 1.5rem 0;
  margin-top: 20px; 
  text-align: center;
}	
.edit-question-title h2,
.preview-question-title h2{
  margin-bottom: 0;
}
/*表单样式*/
.am-form ol{
	list-style-position: inside; 
}
.am-form ol li{
	background: #fff;
	margin-top: 20px;
	padding: 2rem 20px  1rem;
}
.am-form ol li div label{
	display: inline-block;
	margin-bottom: 1rem;
}
.am-form .problem{
	background: #fff;
    margin-left: -31px;
}
.am-form .problem li{
	overflow: hidden;
}
.am-form .problem label{
	outline: none;
}
.am-form .problem label:focus{
	background: #ccc;
}
/*选项控制样式*/
.opt-ctrl{
	display: none;
	float: right;
}
.opt-ctrl .item{
	display: inline-block;
	font-size: 2rem;
}
.am-checkbox:hover > .opt-ctrl,
.am-radio:hover > .opt-ctrl{
	display: block;
}
/*问题控制样式*/
.problem-ctrl{
	display: block;
	width: 100px;
	height: 25px;
}
.problem-ctrl .item{
	width: 2rem;
	display: inline-block;
	color: #09426f;
}
.problem-ctrl .item i{
	font-size: 2rem;
}
.problem-ctrl .item:hover{
	color: #24b1bb;
}
.rotate::before{
	transform: rotate(180deg);
	display: inline-block;
}
/* 添加问题控制样式 */
.questionnaire-time,
.add-problem{
	margin-top:2rem;
	border:1px dashed #ccc;
	background:#fff;
}
.questionnaire-time:hover,
.add-problem:hover{
	background: #f7f7f9;
}
.add-problem-title{
	display: block;
	text-align: center;
	font-size: 2rem;
	margin-top:1rem;
}
.add-problem .item{
	font-size: 1.4rem;
	margin:1rem 0 ;
	text-align: center;
	cursor: pointer;
}
.add-problem .item i{
	color: red;
	font-size: 2rem;
	margin-right: .5rem;
}

/* 问卷时间控制样式 */
.questionnaire-time{
	padding: 2rem 0 1rem;
	overflow: auto;
}
.questionnaire-time .item{
	text-align: center;
}
.questionnaire-time label[for=startTime]{
	line-height: 40px;
	float: left;
	margin-right:1rem;
}
.questionnaire-time #startTime{
	width: 60%;
}

/* 提交and预览样式 */
.commit-and-preview{
	margin: 1rem 0;
	padding: 1rem 0;
}
@media screen and (max-width:768px) {
		.am-form .problem{
		background: #fff;
	    margin-left: -31px;
	    background: #fff;
	}
}
@media screen and (min-width: 1024px) {
      .content{
		width: 980px;
	}
}